In [1]:
import os
import numpy as np
import pandas as pd
import random

In [2]:
*_, lbls = os.walk('labels').__next__()
lbls.sort()
len(lbls)

255

In [3]:
dataset = []
for l in lbls:
    with open('labels/'+l) as f:
        content = f.readlines()
        # you may also want to remove whitespace characters like `\n` at the end of each line
        content = [x.strip() for x in content] 
        for c in content:
            one_car = c.split(" ")
            if one_car[0] == '0':
                if l[0] == 'm' or l[0] == 'M':
                    l = l[:-3] + 'png'
                else:
                    l = l[:-3] + 'jpg'
                dataset.append([l, 1, 1, 'car',
                               float(one_car[1]) - 0.5*float(one_car[3]),
                               float(one_car[2]) - 0.5*float(one_car[4]),
                               float(one_car[1]) + 0.5*float(one_car[3]),
                               float(one_car[2]) + 0.5*float(one_car[4])])

In [4]:
columns=['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax']
car_labels = pd.DataFrame(dataset, columns=columns)
car_labels.to_csv('car_labels.csv', index=False)

In [5]:
car_labels

,filename,width,height,class,xmin,ymin,xmax,ymax
0,00481.jpg,1,1,car,0.026562,0.029630,0.064583,0.082407
1,00481.jpg,1,1,car,0.202083,0.655556,0.340104,0.809259
2,00511.jpg,1,1,car,0.313021,0.265741,0.458854,0.403704
3,00541.jpg,1,1,car,0.438021,0.208333,0.595312,0.377778
4,00601.jpg,1,1,car,0.745312,0.545370,0.865104,0.745370
...,...,...,...,...,...,...,...,...
4131,harlem-0210.jpg,1,1,car,0.570312,0.736111,0.600781,0.795833
4132,harlem-0210.jpg,1,1,car,0.264062,0.138889,0.290625,0.193056
4133,harlem-0210.jpg,1,1,car,0.287500,0.198611,0.318750,0.259722
4134,harlem-0210.jpg,1,1,car,0.617188,0.195833,0.646875,0.248611
4135,harlem-0210.jpg,1,1,car,0.641406,0.001389,0.678906,0.044444

In [6]:
random.shuffle(lbls)

train_data = lbls[:204]
train_data.sort()
train_data = [train_data[i][:-4] for i in range(len(train_data))]
test_data = lbls[204:]
test_data.sort()
test_data = [test_data[i][:-4] for i in range(len(test_data))]

In [7]:
len(train_data)

204

In [8]:
len(test_data)

51

In [9]:
test_labels = [dataset[i] for i in range(len(dataset)) if dataset[i][0][:-4] in test_data]

In [10]:
train_labels = [dataset[i] for i in range(len(dataset)) if dataset[i][0][:-4] in train_data]

In [11]:
len(test_labels)

828

In [12]:
len(train_labels)

3308

In [13]:
test_labels = pd.DataFrame(test_labels, columns=columns)
test_labels.to_csv('test_labels.csv', index=False)
train_labels = pd.DataFrame(train_labels, columns=columns)
train_labels.to_csv('train_labels.csv', index=False)

In [14]:
train_labels

,filename,width,height,class,xmin,ymin,xmax,ymax
0,00511.jpg,1,1,car,0.313021,0.265741,0.458854,0.403704
1,00541.jpg,1,1,car,0.438021,0.208333,0.595312,0.377778
2,00601.jpg,1,1,car,0.745312,0.545370,0.865104,0.745370
3,00691.jpg,1,1,car,0.168750,0.075000,0.284375,0.306481
4,00721.jpg,1,1,car,0.204167,0.418519,0.278646,0.673148
...,...,...,...,...,...,...,...,...
3303,harlem-0210.jpg,1,1,car,0.570312,0.736111,0.600781,0.795833
3304,harlem-0210.jpg,1,1,car,0.264062,0.138889,0.290625,0.193056
3305,harlem-0210.jpg,1,1,car,0.287500,0.198611,0.318750,0.259722
3306,harlem-0210.jpg,1,1,car,0.617188,0.195833,0.646875,0.248611
3307,harlem-0210.jpg,1,1,car,0.641406,0.001389,0.678906,0.044444